<div class="container">
<footer class="br-footer">
<div class="footer-left">
    <div class="mg-b-2">Copyright &copy; 2019 AUCTUM. All Rights Reserved.</div>
    
</div>
<div class="footer-right d-flex align-items-center">
   
</footer>
</div>