


<div class="container-fluid">
   




<!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
     
       <!-- Content Header (Page header) -->
    <div class="page-heading">
            <div class="text-left">
             
            </div> 

           
            
        <div class="text-right">
        <%= link_to "AJOUTER",  new_user_path , class: "btn btn-info", remote: true %>
        </div>
            
    </div>

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <h6 class="br-section-label">Liste des utilisateurs</h6>
          <p class="br-section-text"></p>

          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
		  <thead>
			<tr>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Service</th>
				<th>E-mail</th>
				
				<th>Actions</th>
			  
			</tr>
		  </thead>

		  <tbody class="users-index">
				<%= render('index') %>
		  </tbody>
		</table>
	</div>

         

          

        </div>
      </div>
     
    </div>
    <!-- ########## END: MAIN PANEL ########## -->
<div id="user-modal" class="modal fade effect-[value]"></div>
</div>


