<!-- Statistics Section -->
<section class="statistics">
	<div class="container-fluid">
		<div class="row d-flex">
			<div class="col-md-3">
				<!-- Income -->
				<div class="card income text-center">
					<div class="icon"><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
					<div class="number"><%= @orders_count.to_i %></div><strong class="text-primary">Commandes</strong>

					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p> -->
				</div>
			</div>

			<div class="col-md-3">
				<!-- Income -->
				<div class="card income text-center">
					<div class="icon"><i class="fa fa-building" aria-hidden="true"></i></div>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p> -->
				</div>
			</div>

			<div class="col-md-3">
				<!-- Income -->
				<div class="card income text-center">
					<div class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
					<div class="number"><%= @customers_count.to_i %></div><strong class="text-primary">Clients</strong>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p> -->
				</div>
			</div>

			<div class="col-md-3">
				<!-- Income -->
				<div class="card income text-center">
					<div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p> -->
				</div>
			</div>
			
			
		</div>

		<div class="row d-flex top-margin">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<table id="table-list" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
      <th>Service</th>
      <th>Contact</th>
      <th>Motif</th>
      <th>Délai</th>
      <th>Date traitement</th>
     <% unless controller_name == "dashboard" %>
      <th>Actions</th>
	  <% end %>
    </tr>
								
								</tr>
							</thead>

							<tbody class="tasks-index">
							<%= render('./tasks/index') %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
			
			
	
