
    <h5 class="sidenav-heading">Menu</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">                 
            <li>
				<%= link_to raw('<i class="fa fa-line-chart" aria-hidden="true"></i>Tableau de bord'), dashboard_path %>
			</li>
			
		
            
            <li>
                <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-cogs" aria-hidden="true"></i>
                Paramètres</a>
                <ul id="exampledropdownDropdown" class="collapse list-unstyled">
                        
                <li>
                    <%= link_to raw('<i class="fa fa-university" aria-hidden="true"></i> Sous-domaines'), accounts_path %>
                </li>
                
        </ul>
    </li>
    </ul>

   
