
<h5 class="sidenav-heading">Menu</h5>
<ul id="side-main-menu" class="side-menu list-unstyled">                 
    <li>
        <%= link_to raw('<i class="fa fa-line-chart" aria-hidden="true"></i>Tableau de bord'), dashboard_path %>
    </li>

    	
</ul>

   
