<footer class="footer ">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
           
                &copy;2019 - Développé par AFRICA-SOFT

            
            </div>
    </div>
</footer>
</div>