  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Version 0.1 Alpha
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="#">Imofy</a>.</strong> All rights reserved.
  </footer>