<h1>Editing Delivery Slip Processing</h1>

<%= render 'form', delivery_slip_processing: @delivery_slip_processing %>

<%= link_to 'Show', @delivery_slip_processing %> |
<%= link_to 'Back', delivery_slip_processings_path %>
